.app-header {
  border-bottom: 1px solid #e2e0e3;

  .header-content {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 22px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
